
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
	background: linear-gradient(135deg, #004b7c, #13e8e8);
}




header {
    background-color: #333;
    padding: 1em 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2em;
}


.logo a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.logo a:hover {
    color: #ff9800; 
}


.logo img {
    width: 65px;  
    height: auto;   
}



.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}


.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
    transition: color 0.3s ease;
    position: relative; 
}


.nav-links a:hover {
    color: #ff9800;
}


.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 2px;
    background: #ff9800;
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%; 
}


.hero {
    padding: 2em;
    text-align: center;
    background: #f4f4f4;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: #fff;
}




.social-links a {
    color: white; 
    text-decoration: none; 
    font-size: 1.5em; 
    margin: 0 10px; 
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: #ff6f61; 
}


@media (max-width: 768px) {
    .portfolio-item {
        width: 45%; 
    }
}

@media (max-width: 480px) {
    .portfolio-item {
        width: 100%; 
    }
}



